$blue: #93c2db;
$pink: #ff8ae2;
$darkPink: #9c4668;

// Text Colors
.textBlue {
  color: $blue;
}

.textPink {
  color: $pink;
}

.textDarkPink {
  color: $darkPink;
}

.textWhite {
  color: White;
}
