$blue: #93c2db;
$pink: #ff8ae2;
$darkPink: #9c4668;
$lightBlue: #183d5d;
$darkBlue: #010e28;

// Container
.container {
  margin: 8rem 8rem 6rem 8rem;

  h2 {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
}

// Text Colors
.textBlue {
  color: $blue;
}

.textPink {
  color: $pink;
}

.textDarkPink {
  color: $darkPink;
}

.textWhite {
  color: White;
}

// Alignment Styles
.centered {
  text-align: center;
}
