@import "../../Sass/mixins.scss";

// Styling Skills card

#tools {
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .item {
      margin: 10px;
      text-align: center;

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;

        &:hover {
          transform: scale(1.1);
        }

        @include small {
          width: 65px;
          height: 65px;
        }
      }

      @include small {
        margin: 13px;
      }
    }
  }
}
//for the text to display below image
.caption {
  display: block;
}
