@import "../../Sass/mixins.scss";
@import "../../Sass/styles.scss";

//Home Page Styles
// .container {
//   margin-top: 2rem;
// }

.mainHead {
  margin-top: auto;
  font-size: 5.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;

  @include small {
    font-size: 4rem;
  }

  @include medium {
    margin-top: 5rem;
  }
}

.desc {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 14rem;

  @include small {
    font-size: 1.4rem;
    margin-bottom: 10rem;
  }
}

.particles {
  position: absolute !important;
  transform: translateY(-2.3rem);
  @include small {
    display: none;
  }
}
